

<section class="page-form-ele page" ng-controller="noticeDetailCtrl">


    <div class="row ui-section"  >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">公告详情</h2> </div>
        
        <div class="col-md-8 clearfix"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row notice-detail" >
                        <div class="col-lg-8 col-lg-offset-2">
                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="noticeForm" class="noticeForm">

                                       <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">公告标题：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="noticeName" ng-model="notice.title">
                                            </div>
                                        </div>
                                        
                                          <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">消息内容：</label>
                                            <div class="col-sm-9">
                                                <textarea rows="20" cols="60" placeholder="请填入消息内容" ng-model="notice.content"></textarea>
                                            </div>
                                        </div>
                                        
                                        <div layout layout-sm='column' class="changeConfirm add-btn">
                                            <md-button class="md-raised btn-w-md md-primary" ng-click="modifyNotice()">确定修改</md-button><div class="divider"></div>
                                        </div>
                                    
                                    </form>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 

        </div>
        
    </div>
</section>

